# NeoPixels

##############
# The Macros #
##############

[gcode_shell_command led_rainbow]
command: /home/stouf/stouf/neopixel/rainbow.py &
timeout: 2.
verbose: True

[gcode_shell_command led_off]
command: /home/stouf/Klipper-WS281x_LED_Status/klipper_ledstrip.py 0 0 0
timeout: 2.
verbose: True

[gcode_shell_command led_white]
command: /home/stouf/Klipper-WS281x_LED_Status/klipper_ledstrip.py 255 255 255
timeout: 2.
verbose: True

[gcode_shell_command led_purple]
command: /home/stouf/Klipper-WS281x_LED_Status/klipper_ledstrip.py 255 0 255
timeout: 2.
verbose: True

[gcode_macro LED_RAINBOW]
gcode:
    RUN_SHELL_COMMAND CMD=led_rainbow

[gcode_macro LED_OFF]
gcode:
    RUN_SHELL_COMMAND CMD=led_off

[gcode_macro LED_WHITE]
gcode:
    RUN_SHELL_COMMAND CMD=led_white

[gcode_macro LED_PURPLE]
gcode:
    RUN_SHELL_COMMAND CMD=led_purple

[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  {% set strip = params.STRIP|default("strip")|string %}
  {% set preset = params.PRESET|default(0)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}


[gcode_macro wled_all_off]
description: Turn all WLED strips off
gcode:
  {action_call_remote_method("set_wled_state",
                             strip="strip",
                             state=True,
                             preset=0)}
  {action_call_remote_method("set_wled_state",
                             strip="stairs",
                             state=True,
                             preset=0)}


[gcode_macro wled_strip_off]
gcode:
  WLED_ON STRIP=strip PRESET=1

[gcode_macro wled_strip_fireworks]
gcode:
  WLED_ON STRIP=strip PRESET=2

[gcode_macro wled_strip_levelling]
gcode:
  WLED_ON STRIP=strip PRESET=3

[gcode_macro wled_stairs_off]
gcode:
  WLED_ON STRIP=stairs PRESET=2

[gcode_macro wled_stairs_stairs]
gcode:
  WLED_ON STRIP=stairs PRESET=2

[gcode_macro wled_stairs_fireworks]
gcode:
  WLED_ON STRIP=stairs PRESET=3

#[gcode_macro set_strip_on]
#gcode:
#    SET_LED_EFFECT EFFECT=set_strip

#[gcode_macro set_strip_off]
#gcode:
#    SET_LED_EFFECT EFFECT=set_strip STOP=1

#[gcode_macro leds_off]
#gcode:
#    STOP_LED_EFFECTS

#[gcode_macro rainbow]
#gcode:
#    STOP_LED_EFFECTS
#    SET_LED_EFFECT EFFECT=rainbow

#[gcode_macro strip_idle]
#gcode:
#    STOP_LED_EFFECTS
#    SET_LED_EFFECT EFFECT=strip_idle

#[gcode_macro set_strip_green]
#gcode:
#    SET_LED_EFFECT EFFECT=set_strip_green

# LEDs
[display_template show_heat] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_heat
text: { printer.extruder.temperature / 250.0 }, 0.0, 0.0

[display_template show_bed] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_bed
text: { printer.heater_bed.temperature / 110.0 }, { printer.heater_bed.temperature / 110.0 }, 0.0

[display_template show_done] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_print
text: 0.0, 0.0, 1.0

[display_template show_mesh] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_mesh
text: 0.0, 1.0, 1.0

[display_template show_print] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_done
text: 0.0, 1.0, 0.0

[display_template show_off] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_done
text: 0.0, 0.0, 0.0

[display_template show_pause] # SET_LED_TEMPLATE LED=<config_name> INDEX=1 TEMPLATE=show_done
text: 1.0, 0.0, 1.0

[gcode_macro RGB_ON] # SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value>
gcode:
  {% set RED = params.RED|default(1.0)|float %} ; RED sets the amount of red
  {% set GREEN = params.GREEN|default(1.0)|float %} ; GREEN sets the amount of red
  {% set BLUE = params.BLUE|default(1.0)|float %} ; BLUE sets the amount of red
  SET_LED LED=RGB RED=RED GREEN=GREEN BLUE=BLUE

[gcode_macro RGB_OFF] # SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value>
gcode:
  SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0

[gcode_macro RGBT_OFF] # SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value>
gcode:
  SET_LED_TEMPLATE LED=RGB INDEX=1 TEMPLATE=

[gcode_macro RGB_CYAN] # SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value>
gcode:
  SET_LED LED=RGB RED=0.0 GREEN=1.0 BLUE=1.0

[gcode_macro RGB_YELLOW] # SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value>
gcode:
  SET_LED LED=RGB RED=1.0 GREEN=1.0 BLUE=0.0

[gcode_macro RGB_PURPLE] # SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value>
gcode:
  SET_LED LED=RGB RED=1.0 GREEN=0.0 BLUE=1.0

[gcode_macro RGB_TEST]
description: Breath
gcode:
  {% set color = 0 %}
  {% set max = 255 %}
  {% for amount in range(max) %}
    SET_LED LED=RGB RED=color GREEN=color BLUE=color
    G4 P2000
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P1000
    color = color + 1
  {% endfor %}

[gcode_macro RGB_BLINK]
description: Blink RGB three times
gcode:
  {% set AMOUNT = params.AMOUNT|default(3)|int %} ; AMOUNT sets the amount of times the led will go on and off
  {% set RED = params.RED|default(1.0)|float %} ; RED sets the amount of red
  {% set GREEN = params.GREEN|default(1.0)|float %} ; GREEN sets the amount of red
  {% set BLUE = params.BLUE|default(1.0)|float %} ; BLUE sets the amount of red
  #{% set AMOUNT = 3 %}
  {% for blinks in range(AMOUNT) %}
    SET_LED LED=RGB RED=RED GREEN=GREEN BLUE=BLUE
    G4 P2000
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P1000
  {% endfor %}

[gcode_macro RGB_BLINK_R]
description: Blink in RED three times
gcode:
  {% set blinks = 3 %}
  {% for blink in range(blinks) %}
    SET_LED LED=RGB RED=1.0 GREEN=0.0 BLUE=0.0
    G4 P2000
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P1000
  {% endfor %}

[gcode_macro RGB_BLINK_B]
description: Blink in BLUE three times
gcode:
  {% set blinks = 3 %}
  {% for blink in range(blinks) %}
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=1.0
    G4 P2000
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P1000
  {% endfor %}

[gcode_macro RGB_BLINK_G]
description: Blink in GREEN three times
gcode:
  {% set blinks = 3 %}
  {% for blink in range(blinks) %}
    SET_LED LED=RGB RED=0.0 GREEN=1.0 BLUE=0.0
    G4 P2000
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P1000
  {% endfor %}

[gcode_macro RGB_BLINK_W]
description: Blink in WHITE three times
gcode:
  {% set AMOUNT = params.AMOUNT|default(3)|int %} ; AMOUNT sets the amount of times the led will go on and off
  {% for blink in range(AMOUNT) %}
    SET_LED LED=RGB RED=1.0 GREEN=1.0 BLUE=1.0
    G4 P2000
    SET_LED LED=RGB RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P1000
  {% endfor %}

### COMMENTED BECAUSE NOT WORKING WITH RPI AS MCU (LINUX MCU ERROR)

#######################
# LED Effects Perso #
#######################

#[led_effect strip_idle]
#autostart: false
#frame_rate: 24
#leds:
#    neopixel:strip
#layers:
#    breathing  10 1 top (.5,.5,1)

#[led_effect rainbow]
#leds:
#    neopixel:strip
#autostart: false
#frame_rate: 24
#layers:
#    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

#[led_effect progress_bar]
#leds:
#    neopixel:strip
#autostart: false
#frame_rate: 24
#layers:
#    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
#    static     0  0 top         ( 0, 0, 0.1)

#[led_effect critical_error]
#leds:
#    neopixel:strip
#layers:
#    strobe         1  1.5   add        (1.0,  1.0, 1.0)
#    breathing      2  0     difference (0.95, 0.0, 0.0)
#    static         1  0     top        (1.0,  0.0, 0.0)
#autostart:                             false
#frame_rate:                            24
#run_on_error:                          false

#[led_effect bed_effects]
#leds:
#    neopixel:strip
#autostart:                          false
#frame_rate:                         24
#heater:                             heater_bed
#layers:
#    heater  50 0 add    (1,1,0),(1,0,0)
#    static  0  0 top    (1,0,0)

#######################
# LED Effects Statics #
#######################

#[led_effect set_strip]
#leds:
#    neopixel:strip
#autostart: false
#frame_rate: 24
#layers:
#    static 0  0 top (1.0,  1.0, 1.0)

#[led_effect set_strip_green]
#leds:
#    neopixel:strip
#autostart: false
#frame_rate: 24
#layers:
#    static 0  0 top (0.0,  1.0, 0.0)
